.author__header {
  font-size: 24px;
  color: #151515;
  line-height: 26px;
  font-weight: normal;    
  background: #f5f5f5;
}

.author__posts {
  padding: 0px 10px 10px;
}

.no_posts {
  padding: 25px;
}

.author__username {
  font-size: 11px;
  margin: 0px 5px;
  background: #f5f5f5;
}

.author__title {
  text-align: left;
  margin: 0;
  font-size: 25px;
  background: #f5f5f5;
  font-weight: bold;
  padding: 5px;
}

.author__name {
  margin: 0 5px;
}
